body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.wildfire {
  font-size: 2rem;
  color: orange;
}

.volcano {
  font-size: 2rem;
  color: red;
}

.storm {
  font-size: 2rem;
  color:darkgray
}

.earthquake {
  font-size: 2rem;
  color:brown
}

.location-info {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

.event-filter {
  position: absolute;
  top: 80px;
  left: 50px;
  width: 300px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

.tab {
  margin-left: 20px;  
}